# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf

# Bash scripts (no extension)
0-alias text eol=lf
1-hello_you text eol=lf
2-path text eol=lf
3-paths text eol=lf
4-global_variables text eol=lf
5-local_variables text eol=lf
6-create_local_variable text eol=lf
7-create_global_variable text eol=lf
8-true_knowledge text eol=lf
9-divide_and_rule text eol=lf
10-love_exponent_breath text eol=lf
11-binary_to_decimal text eol=lf
12-combinations text eol=lf
13-print_float text eol=lf
100-decimal_to_hexadecimal text eol=lf
101-rot13 text eol=lf
102-odd text eol=lf
103-water_and_stir text eol=lf

